
<script src="https://sdk.mercadopago.com/js/v2"></script>

<script>
// Agrega credenciales de SDK
const mp = new MercadoPago("TEST-3a1ffac7-fd96-43b0-a8bc-cdbc207faf80", {
locale: "es-AR",
});


const checkout = mp.checkout({
preference: {
  id: '@ViewData["ID"]',
},
});


</script>
<div class="content">

    <div class="card">
        <div class="card-header">
            TV "32"
        </div>
        <div class="card-body">

        </div>
        <div class="card-foot">
            <a href="@ViewData["url"]"   class="btn btn-primary" >
                Pagar
            </a>
            <button onclick="checkout.open()"> Pagar v2</button>
        </div>

    </div>

</div>